.success{
    border: 1.5px solid rgba(9, 176, 9, 0.836);
    border-radius: 2rem;
    background-color: rgb(207, 237, 207);
   }
   
   .error{
    border:1.5px solid rgba(255, 0, 0, 0.796);
    border-radius: 2rem;
   }
   
   .card {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .imaF{
    width: 100%;
    height: auto;
    max-height: calc(100% - 40px);
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    }
    
    .imaF:hover {
    transform-origin:center center;
    transform-style:preserve-3d;
    transform:scale(1.1);
    }
    
    .card form {
    padding: 20px;
    }
    
    .card input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    }
    
    img {
    position:relative;
    }
    
    input {
    position: center;
    padding: 10px;

    }
   
    .Elerror{
      color: rgb(221, 68, 68);
      font-weight: bold;
    }

    .buttonSent {
        padding: 20px 30px;
        font-size: 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        color:white; /* White text */
        background-color:black; /* Black background */
        border-radius:2rem; /* Rounded corners */
        transition-duration:.5s; /* Animation */
        perspective: 600px;
       }
       
       .buttonSent:hover {
        /* Rotate the button slightly along the X-axis */
        transform: rotateX(-20deg);
        /* Add a shadow effect */
        box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
      }
      
