input{
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

input[type='search']::placeholder {
  color: gray;
  font-family:'Courier New', Courier, monospace;
  padding: 20px 30px
}

.search-container {
  position: relative;
}

input[type='search'] {
    width: 37rem;
    padding: 20px 30px;
    font-size: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    color: white;
    background-color: black;
  }
  
  input[type='search']:focus {
    border-bottom: 3px solid #4ccedc;
  }
  

.adding {
  padding: 20px 30px;
  font-size: 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.adding:hover {
  animation: glowing 1300ms infinite;
}

@keyframes glowing {
  0% {
    background-color: #000000;
    box-shadow: 0 0 5px #000000, 0 0 25px #000000, 0 0 50px #000000, 0 0 100px #000000;
  }
  
  50% {
    background-color: #fff;
    box-shadow: 0 0 20px #fff, 0 0 60px #fff, 0 0 100px #fff, 0 0 150px #fff;
    
    color:black
    }
  
    to {
        background-color:#000000;
        box-shadow:0px
    }
}